
.view_box{
  padding: 10px;
  margin: 20px auto;
  width: 700px;
}
.view_title{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 20px;
  padding: 20px;
}

.view_info{
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
}
.view_info span{
  float: right;
}
.view_content{
 padding-top:30px;
 padding-left: 20px;
 padding-right: 20px;
}

.reply_box{
  position:relative;
  margin: 50px auto;
  width: 95%;
  padding: 30px 25px 29px;
  background: #ECF1F3;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.reply_box:before, .reply_box:after{
  content:'';
  position:absolute;
  bottom: 1px;
  left:0;
  right:0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
.reply_box::after{
  bottom: 3px;
  border-color: #dcdcdc;
}
.reply{
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 0 10px 2px;
  font-size: 12px;
  background: white;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #EFF0F1;
}
.reply:focus {
   border-color: #f8e8d8;
   outline: none;
   -webkit-box-shadow: inset 0 -2px #f8e8d8;
   box-shadow: inset 0 -2px #f8e8d8;
}

input, textarea, div{
   font-family: inherit;
   color: inherit;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.reply_btn{
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 30px;
  padding: 0;
  font-size: 17px;
  color: #666666;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #dcdcdc;
  border: 0;
  border-bottom: 2px solid #ebebeb;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #EFF0F1;
}

.reply_btn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:-moz-placeholder {
  color: #AAAAAA;
  font-weight: 300;
}

::-moz-placeholder {
  color: #AAAAAA;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #AAAAAA;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #AAAAAA;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#item{
  position:relative;
  margin: 5px auto;
  width: 95%;
  padding: 10px 25px 10px;
  background: #ECF1F3;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
#item:before, #item:after{
  content:'';
  position:absolute;
  bottom: 1px;
  left:0;
  right:0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
#item::after{
  bottom: 3px;
  border-color: #dcdcdc;
}
#id{
  position: absolute;
  top:3px;
  font-size: 110%;
  font-weight: bold;
}
#date{
  position: absolute;
  color: #AAAAAA;
  font-size: 85%;
  top:3px;
  right: 10px;
}
#content{
  position: relative;
  margin-top: 15px;
}
.view_reply {
    transform: translateX(300px);
    animation:
        openspace .3s ease forwards,
        restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
}

@keyframes openspace {
    to {
        height: auto;
    }
}

@keyframes restored-item-animation {
    0% {
        opacity: 0;
         transform: translateX(300px);
    }

    70% {
        opacity: 1;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
